<div class="row">
  <div class="col-md-6">
    <h1>ngIF</h1>
    <hr>
    <button type="button" class="btn btn-default" (click)=" mostrar = !mostrar">Mostrar / Ocultar</button><br><br>
    <div *ngIf="mostrar" class="card card-inverse card-primary mb-3 text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p>{{ frase.mensaje }}</p>
          <footer>{{ frase.autor }}</footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h1>ngFor</h1>
    <hr>
    <ul class="list-group">
      <li *ngFor="let persona of personajes; let i = index" class="list-group-item">
        {{ i + 1}}. {{ persona }}
      </li>
    </ul>
  </div>
</div>
